/****************************************************/
/* General settings */
/****************************************************/
html{
    height:100%;
}
body{
    background:#333333 url(images/page-bg.jpg);
    margin:0px;
    font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
    color:#525252;
    height:100%;
}
h1{font: 400 48px/52px 'Bree Serif', Georgia, serif; color:#525252; float:left; margin-bottom:0.3em;}
h2{font: 400 18px/22px 'Bree Serif', Georgia, serif; color:#525252;}
h3{font: 400 14px/16px 'Bree Serif', Georgia, serif; color:#525252;}
ul{margin:0px; padding:0px;}
a {text-decoration:underline; color:#6a6969;}
a:hover {color:#979797;}
a img{border:0px;}

.myname {
    color:#8C4E3C;
    /*font-style:oblique;*/
}

.myblog {
    color:#8C4E3C;
    /*font-style:oblique;*/
    font-weight:600;
}

#container{
    width:950px;
    margin:0px auto 300px auto;
    background-color:#D9D7D7;
    overflow:auto;
    padding-bottom:100px;
}

#top-social{float:right; padding-top:5em;}
#top-social li{float:left; list-style:none; margin-left:1em;}

.facebook, .twitter, .linkedin, .google, .wordpress, .github {
    text-indent:-9999px; 
    display:block; 
    width:2em; 
    height:2em;
}
.facebook{
    background:url(images/sm-facebook-icon.png) no-repeat;
}
.twitter{
    background:url(images/sm-twitter-icon.png) no-repeat;
}
.linkedin{
    background:url(images/sm-linkedin-icon.png) no-repeat;
}
.google{
    background:url(images/sm-google-icon.png) no-repeat;
}
.wordpress{
    background:url(images/sm-wordpress-icon.png) no-repeat;
}
.github{
    background:url(images/sm-github-icon.png) no-repeat;
}

.section-head {
    margin:0px 2em; 
    padding-top:6em;
    height:100%;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
    width:927px;
    height:8em;
    background-color:#3B3B3B;
    padding:0px 1em;
    position: fixed;
    top:0px;
    left:50%;
    margin: 0 0 0 -475px;
}
#header #logo{
    padding-top:2em;
    float:left;
}
#header #main-menu{float:right; padding-top:1.5em;}
#header #main-menu li{
    float:left;
    list-style:none;
    margin-left:0.7em;
    font: 2.6em 'Bree Serif', Georgia, serif;
}
#header #main-menu a {
    color:#737373;
}
/****************************************************/
/* ABOUT SECTION */
/****************************************************/
#about .content{overflow:auto;}
#about .content img{float:left; border:2px solid #ADADAD;margin: 2em 2em 1em 0.5em;}

/****************************************************/
/* RESUME SECTION */
/****************************************************/
#resume .content{overflow:auto;}

#resume p {
    margin: 0em 0em 0em 3em;
}
#resume h2 {
    margin: 1.5em 0em 0em 0em;
}
#resume h3 {
    margin: 1em 0em 0em 2em;
}

/****************************************************/
/* PUBLICATIONS SECTION */
/****************************************************/

#publications table {
    width:80%;
    font-size:100%;
}
#publications td {
    width:20%;
    padding-bottom: 1.5em;
    font-size:100%;
}
#publications td a{
    font-size:100%;
}
#publications .content ul {
    margin-left: 1.5em;    
    font-size:100%;
}
 
/****************************************************/
/* CONNECT SECTION */
/****************************************************/
#connect #left-empty-list li{float:left; list-style:none;margin:0px 1em}

#connect .content{overflow:auto;}

#connect img{margin:0em 2em}


/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
    width:100%;
    height:1em;
    background:url(images/divider.png) repeat-x;
    clear:both;
}
.top-divider{
    margin-bottom:5%;
}
.bottom-divider{
    margin-top:15%;
    margin-bottom:30%;
}

#last-divider{
    margin-bottom:20%;
}

