/****************************************************/
/* General settings */
/****************************************************/
html{
    height:100%;
}
body{
    background:#333333 url(images/page-bg.jpg);
    margin:0%;
    font: 'Open Sans', Verdana, Helvetica, sans-serif;
    color:#525252;
    height:100%;
}
h1{float:left; margin-bottom:0.3em;}
ul{padding:0%;}
a {text-decoration:underline; color:#6a6969;}
a:hover {color:#979797;}
a img{border:0em;}

.nav a {
    text-decoration:none;
    color:#979797;
    font: 'Bree Serif', Georgia, serif; 
}
.nav a:hover {
    text-decoration:none;
}
.navbar-header a {
    text-decoration:none;
    font: 'Bree Serif', Georgia, serif;
    font-weight:850;
    font-size:1.5em;
}

.myname {
    color:#8C4E3C;
    /*font-style:oblique;*/
}

.myblog {
    color:#8C4E3C;
    /*font-style:oblique;*/
    font-weight:600;
}

.stress {
    font-weight:650;
    font-size:1.65em;
    margin-bottom:0.5em;
    margin-top:1em;
}

/* Change the container based on the screen size */
@media screen and (min-width: 1024px){
    #body-container{
        width:75em;
    }
    .navbar{
        width:76em;
        margin: 0em auto 0em auto;
    }
}

@media (max-width: 1024px){
    #body-container{
        width:100%;
    }
}

#body-container{
    margin:0em auto 0em auto;
    background-color:#D9D7D7;
    overflow:auto;
    padding-bottom:5em;
}

.facebook, .twitter, .linkedin, .google, .wordpress, .github {
    text-indent:-9999px; 
    display:block; 
    width:3em; 
    height:3em;
    background-size:contain 100%;
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover
}
.facebook{
    background:url(images/sm-facebook-icon.png) no-repeat;
}
.twitter{
    background:url(images/sm-twitter-icon.png) no-repeat;
}
.linkedin{
    background:url(images/sm-linkedin-icon.png) no-repeat;
}
.google{
    background:url(images/sm-google-icon.png) no-repeat;
}
.wordpress{
    background:url(images/sm-wordpress-icon.png) no-repeat;
}
.github{
    background:url(images/sm-github-icon.png) no-repeat;
}


section {
    margin:0em 2em; 
    padding-top:3em;
    height:100%;
}
@media screen and (min-width: 1024px){
    section {
        margin:0em 2em; 
    }
}
@media (max-width: 1024px){
    section {
        margin:0em 1%; 
    }
}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/
#about .content{overflow:auto;}
#about .content img{
    float:left; 
    border:2px solid #ADADAD;
    margin: 5% 2% 2px 1%;
}

@media screen and (min-width: 1024px){
    #about .content img{
        width:20%;
        margin: 1em 1em 0px 0.5em;
    }
}
@media (max-width: 1024px){
    #about .content img{
        width:35%;
        margin: 1em 1em 2px 0.5em;
    }
}


/****************************************************/
/* RESUME SECTION */
/****************************************************/
#resume .content{overflow:auto;}

#resume .stress {
    margin-left:0em;
    margin-bottom:0.5em;
    margin-top:1em;
}

#resume p {
    margin: 0em 0em 0em 1.2em;
}

/****************************************************/
/* PUBLICATIONS SECTION */
/****************************************************/
#publications .content{overflow:auto;}

#publications .content ul {
    margin-left: 2%;    
}

#publications .content ul li {
    margin: 0 0 1em 0;
}

#publications .content ul li ul li{
    display: inline-block;
    min-width: 9em;
}
 
/****************************************************/
/* CONNECT SECTION */
/****************************************************/

#connect .content{overflow:auto;}

#connect #left-empty-list li{
    display: inline-block;
    list-style:none;
}

/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
    width:100%;
    height:1em;
    background:url(images/divider.png) repeat-x;
    clear:both;
}
.top-divider{
    margin-bottom:1%;
}

.bottom-divider{
    margin-top:5%;
}

@media screen and (min-width: 1024px){
    .bottom-divider{
        margin-bottom:25%;
    }
}

@media (max-width: 1024px){
    .bottom-divider{
        margin-bottom:1%;
    }
}




