/* ==========================================================================
   About Page body
   ========================================================================== */
.about-page-content {

  .stress {
    font-weight:650;
    font-size:1.65em;
    margin-bottom:0.5em;
    margin-top:1em;
  }

  .myname {
    color:#732626;
    font-weight:650;
  }

  p {
    @include media($medium) {
      width: 90%;
    }
    @include media($large) {
      width: 75%;
    }
  }
}

#start-page{
  .entry-meta {
    display: none;
    @include media($large) {
      display: block;
    }
  }
}
