/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  margin-top: 0px;
  @include clearfix;
  @include media($medium) {
    margin-top: 0;
  }
  .wrap {
    // position: absolute;
    text-align: center;
    //max-width: em(440);
    max-width: $max-width;
    //padding-right: 20px;
    //padding-left: 20px;
    // @include media($medium) {
    //   max-width: em(728);
    //   padding-right: 60px;
    //   padding-left: 60px;
    // }
    // @include media($large) {
    //   max-width: em(960);
    // }
  }
}

/*
   Site logo
   ========================================================================== */

.site-logo {
  img {
    /*width: 100px;*/
    display: none;
    /*height: 100px;*/
    @include animation-duration(1s);
    @include animation-delay(.05s);
    // border: 4px solid $white;
    @include rounded(3px); /* crops in a circle */
    @include media($medium) {
      display: block;
      width: 100%;
      /*height: 150px;*/
    }
    @include media($large) {
      display: block;
      width: 100%;
      /*height: 200px;*/
    }
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-bottom: 0;
  @include animation-duration(1s);
  @include animation-delay(.75s);
  a {
    color: $black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: 0;
  font-family: $alt-font;
  @include font-size(14);
  font-weight: 400;
  font-style: italic;
  @include animation-duration(1s);
  @include animation-delay(1s);
  @include media($medium) {
    @include font-size(16);
  }
  @include media($medium) {
    @include font-size(20);
  }
}

/*
   Site description and title position
   ========================================================================== */
.site-description-and-title {
  top: 35px;
  @include media($medium) {
    position: absolute;
    padding-right: $gutter;
    padding-left: (1.1*$gutter);
    top: 10px;
  }
}
