---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";

$max-width: 1024px;
$footer-height: 4rem;
$footer-margin-top: 4rem;

// ABOUT PAGE ==============================================
.about-page-content {
    .stress {
        font-weight:650;
        font-size:1.65em;
        margin-bottom:0.5em;
    }
    .myname {
        color:#732626;
        font-weight:650;
    }
}

// Source code highlight fixed ==============================================
.highlight {
    table {
        tbody{
            tr {
                td:first-child {
                    width: 2.5rem !important;
                    margin: 0;
                    padding-left: 0;
                    padding-right: 1rem;
                    color: lightgray;
                    overflow: hidden;
                    pre: {
                        max-width: 2.5rem !important;
                    }
                }	
                td:nth-child(2) {
                    pre {
                        width: 100%;
                        overflow: auto;
                    }
                }
            }
        }
    }
}
// Site title and logo ==============================================
.navigation-wrapper {
    position: absolute;
    top:0;   
    @media #{$medium} {
        display: flex;
        justify-content: center;
    }
    width: 100%;
    z-index: 100;
    #menu-toggle {
        width: 100%;
    }
}
.masthead {
    display: flex;
    justify-content: center;
    .wrap {
        position: relative;
        @media #{$medium} {
            width: 100%;
        }
        @media #{$large} {
            width: $max-width;
        }
        .site-logo {
            width: 100%;
            img {
                width: 100%;
                display: none;
                border-radius: 3px;
                border: 0px !important;
                @media #{$medium} {
                    display: block;
                }
            }
        }
    }
    h1.site-title {
        @media #{$medium} {
            position: absolute;
            z-index: 100;
            top: 20px;
            left: 5%;
            display: block;
        }
    }
    p.site-description {
        @media #{$medium} {
            position: absolute;
            z-index: 100;
            top: 60px;
            left: 5%;
            display: block;
        }
    }
}

// Publications styling ==============================================
.publicationslist {
    p {
      margin-bottom: 0.25em;
    }
  
    ul { 
      width: 100%; 
      text-align : left; 
      margin-top: 0em;
      margin-top: 0.5em;
      li { 
        display: inline; 
        white-space: nowrap;
        margin-right: 0.5em; 
      }
      li:before { 
        content: " \2022"; 
      }
      li.nobullet:after { 
        content: none; 
      }
    }
}

// Footer styling (based on https://tinyurl.com/y7zvm44t) ==============================================
html { 
    height:100%; 
}
body { 
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative; 
}

body::after { 
    content:''; 
    display:block; 
    height:($footer-margin-top + $footer-height); 
}

body > footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  margin-top: $footer-margin-top;
  height:$footer-height; 
}

// Disallow body scrolling ==============================================
body { 
    overflow-x: hidden; 
}

// Facepage styles - mimic the post page ==============================================
.layout--facepage {
    .page-wrapper {
        display: inherit;
        @media #{$large} {
            display: grid;
            grid-column-gap: 3em;
            grid-row-gap: 0;
            grid-template-columns: 175px 1fr;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }
    .page-header {
        grid-column: 1 / -1;
        clear: both;
    }
  
    .page-sidebar {
        display: none;
        @media #{$large} {
            display: block;
        };
        .page-author {
            display: none;
            @media #{$large} {
                display: inherit;
            }
        }
    }
  }
}

// Images and figures in centre ==============================================
.page-content {
    figure {
        img {
            display: block;
            margin: 0 auto;
        }
        figcaption {
            text-align: center;
        }
    }
}

// Site navigation styling
#primary-nav ul li {
    font-size: 1em;
    @media #{$medium} {
        font-size: 0.75em;
    };
}

// Ads =========================================================================
.ad-header {
    @media screen and (min-width: 1025px){
        font-weight: bold;
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
        font-size: 125%;
        text-align: left;
        margin: 3rem 0 0.1rem auto;
        padding: 0.5rem 0 0rem 0.35rem;
    }
    @media (max-width: 1024px){
        font-weight: bold;
        text-align: left;
        margin: 0.6rem 0 0.1rem auto;
    }
}
