---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

// MEDIA QUERIES ==============================================
$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";

$max-width: 1024px;
$footer-height: 4rem;
$footer-margin-top: 4rem;

// ABOUT PAGE ==============================================
// .about-page-content {
//     .stress {
//         font-weight:650;
//         font-size:1.65em;
//         margin-bottom:0.5em;
//     }
// }

// Source code highlight fixed ==============================================
.highlight {
    table {
        tbody{
            tr {
                td:first-child {
                    width: 2.5rem !important;
                    margin: 0;
                    padding-left: 0;
                    padding-right: 0.25rem;
                    color: lightgray;
                    overflow: hidden;
                    pre: {
                        max-width: 2.5rem !important;
                    }
                }	
                td:nth-child(2) {
                    pre {
                        width: 100%;
                        overflow: auto;
                    }
                }
            }
        }
    }
}
// Site title and logo ==============================================
.navigation-wrapper {
    position: absolute;
    top:0;   
    @media #{$medium} {
        display: flex;
        justify-content: center;
    }
    width: 100%;
    z-index: 100;
    #menu-toggle {
        width: 100%;
    }
}
.masthead {
    display: flex;
    justify-content: center;
    .wrap {
        position: relative;
        @media #{$medium} {
            width: 100%;
        }
        @media #{$large} {
            width: $max-width;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .site-logo {
            width: 100%;
            img {
                width: 100%;
                display: none;
                border-radius: 3px;
                border: 0px !important;
                @media #{$medium} {
                    display: block;
                }
            }
        }
    }
    .site-title {
        @media #{$medium} {
            position: absolute;
            z-index: 100;
            top: 20px;
            left: 5%;
            display: block;
            color: white;
        }
    }
    p.site-description {
        @media #{$medium} {
            position: absolute;
            z-index: 100;
            top: 65px;
            left: 5%;
            display: block;
        }
    }
}

// Publications styling ==============================================
.publicationslist {
    p {
      margin-bottom: 0.25em;
    }
  
    ul { 
      width: 100%; 
      text-align : left; 
      margin-top: 0em;
      margin-top: 0.5em;
      li { 
        display: inline; 
        white-space: nowrap;
        margin-right: 0.5em; 
      }
      li:before { 
        content: " \2022"; 
      }
      li.nobullet:after { 
        content: none; 
      }
    }
}

// Footer styling (based on https://tinyurl.com/y7zvm44t) ==============================================
html { 
    height:100%; 
}
body { 
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative; 
}

body::after { 
    content:''; 
    display:block; 
    height:($footer-margin-top + $footer-height); 
}

body > footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  margin-top: $footer-margin-top;
  height:$footer-height; 
}

// Disallow body scrolling ==============================================
body { 
    overflow-x: hidden; 
}

// Site navigation styling ==============================================
#primary-nav ul li {
    font-size: 1em;
    @media #{$medium} {
        font-size: 0.75em;
    };
}
